@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #0f172a;
  --color-card: #1e293b;
  --color-border: #334155;
}

body {
  @apply bg-dex-bg text-white min-h-screen antialiased;
}
